
* {
	color: cyan;
}

input {
 color:black;	
}
button{
	color: black;
}

.homeButton{
	text-decoration: none;
	font-size: 45px;
	font-style: italic;
	text-align: center;
}

#opInfo{
	text-decoration: none;
}

#opName{
}

#codeName{
	
}
#ctu{
}
#side{
}
#opVideo{
	float: right;
}
h2{
	text-align: center;
	font-size: 50px;
	font-style: italic;
}

#bio{
	background-color: black;
}
body{
  background-image: url(http://cdn.mos.cms.futurecdn.net/ERwmQs3HzvkfQuDFUTqdyH.jpg);
}
#opPhoto{
}

#opIcon{
	
}

#op{
}

#back{
	text-align: left;
	text-decoration: none;
}

#next{
	text-align: right;
	text-decoration: none;
}
